.bg-img-collaborators{
    //background-image: url('./../images/img14.png');
    height: 90vh !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

app-collaborators .content-bottom{
    top: 80vh !important;
}