.bg-img-investment{
    //background-image: url('./../images/img9.jpg');
    height: 90vh !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-img-investment-1{
    //background-image: url('./../images/img10.jpg');
    height: 90vh !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-img-investment-2{
    //background-image: url('./../images/img11.jpg');
    height: 90vh !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-img-investment-3{
    //background-image: url('./../images/img12.jpg');
    height: 90vh !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-img-company-col{
    //background-image: url('./../images/img13.png');
    height: 50vh !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

app-investment .content-bottom{
    top: 80vh !important;
}