app-portfolio .hp-label{
    color: white !important;
}

.bg-img-pf-1{
    background-image: url('./../images/img15.jpg');
    height: 90vh !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-img-pf-2{
    background-image: url('./../images/img16.jpg');
    height: 90vh !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-img-pf-3{
    background-image: url('./../images/img17.jpg');
    height: 90vh !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-img-pf-4{
    background-image: url('./../images/img18.jpg');
    height: 90vh !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-img-pf-5{
    background-image: url('./../images/img19.jpg');
    height: 90vh !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-img-pf-6{
    background-image: url('./../images/img20.jpg');
    height: 90vh !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-img-pf-7{
    background-image: url('./../images/img21.jpg');
    height: 90vh !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}