<div class="container-fluid page h-100  bg-black">
    <div class="row mx-0 bg-black py-5 px-5">
        <div class="col-6">
            <img [src]="img1Path" class="big-picture">
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-12 d-flex align-items-center justify-content-center text-left pb-3">
                    <img [src]="img2Path" class="small-picture">
                    <label class="text-white px-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
                </div>
                <div class="col-12 d-flex align-items-center justify-content-center py-3">
                    <label class="text-white px-3 text-right">Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit</label>
                    <img [src]="img3Path" class="small-picture">
                </div>
            </div>
        </div>
    </div>
</div>